:root {
  --primary-color: #DDDDDD;
  --primary-color-light: #EEEEEE;
  --secondary-color: #686D76;
  --accent-color: #373A40;
  --neutral-color: #DC5F00;
  --neutral-color-background: #ffba8557;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  background-color: black;
  margin: 0; 
  font-family:  -apple-system, BlinkMacSystemFont, 'Titillium Web', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}