.sign {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.sign .sign-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color-light);
	width: 40vw;
	height: 50vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.sign .input {
	max-width: 190px;
	height: 44px;
	background-color: #05060f0a;
	border-radius: .5rem;
	padding: 0 1rem;
	border: 2px solid transparent;
	font-size: 1rem;
	transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}
  
.sign .label {
	display: block;
	margin-bottom: .3rem;
	font-size: .9rem;
	font-weight: bold;
	color: #05060f99;
	transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}
  
.input:hover, .input:focus, .input-group:hover .input {
	outline: none;
	border-color: #05060f;
}
  
.input-group:hover .label, .input:focus {
	color: #05060fc2;
}

.sign button {
	font-family: inherit;
	display: inline;
	margin-top: 20px;
	width: 100%;
	height: 2.6em;
	line-height: 2.5em;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--accent-color);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--accent-color);
}
   
.sign button:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--accent-color);
	height: 350px;
	width: 400px;
	border-radius: 50%;
}
   
.sign button:hover {
	color: var(--primary-color);
}
   
.sign button:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}
   
.sign button:hover:before {
	top: -200px;
	left: -100px;
}
   
.sign button:active:before {
	background: var(--neutral-color);
	transition: background 0s;
}
  